extends layout

block content
  h1 #{title}: #{book.title}

  if bookinstances.length
    p #[strong Please delete the following book instances before delete this book]

    div(style='margin-left:20px;margin-top:20px')
      h4 Book Instances
      
      dl
        each instance in bookinstances
          dt
            a(href=instance.url) #{instance.title}
          dd #{instance.imprint}
             |
             | #{instance.status}
             |
             | #{instance.due_back_formatted}

  else
    p Do you really want to delete this book?
      
    form(method='POST' action='')
      div.from-group
        input#bookid.form-control(type='hidden' name='bookid' required='true'
        value=book._id)

      button.btn.btn-primary(type='submit') Delete
